<nav-root></nav-root>
<section class="row body">
  <div class="material">
    <h3 class="material__title">Materials</h3>

    <kendo-grid
      [data]="gridView"
      [selectable]="true"
      style="
      height:80%;
      margin: 30px 60px;"
    >

      <kendo-grid-column field="MaterialID" title="ID" [width]="10"></kendo-grid-column>
      <kendo-grid-column field="MaterialName" title="Product" [width]="300">
      </kendo-grid-column>
      <ng-template kendoGridDetailTemplate let-dataItem>
      <section *ngIf="dataItem.SubMaterials" class="material__section">
        <div class="" *ngIf="!isEditable">
          <div class="material__item" *ngFor="let item of dataItem.SubMaterials">
            <a>
              {{item.content}}
            </a>
          </div>
        </div>
        <div class="" *ngIf="isEditable">
          <div class="material__item" *ngFor="let item of dataItem.SubMaterials">
            <input type="text" value="{{item.content}}" [(ngModel)]="item.content">
          </div>
        </div>
        <div class="controls _right component-wrapper" [ngClass] = "{'_visible': isVisible}">
          <button class="button" *ngIf="!showOkButton" (click)="isEditable = !isEditable; showOkButton = true">Edit</button>
          <button class="button" *ngIf="showOkButton" (click)="showOkButton = false; isEditable = !isEditable;">Ok</button>
        </div>

      </section>
    </ng-template>
    </kendo-grid>
  </div>

</section>
