@font-face {
    font-family: 'RobotoLight';
    src: url('./RobotoLight/Roboto-Light-webfont.eot');
    src: url('./RobotoLight/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./RobotoLight/Roboto-Light-webfont.woff') format('woff'),
         url('./RobotoLight/Roboto-Light-webfont.ttf') format('truetype'),
         url('./RobotoLight/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('./RobotoRegular/Roboto-Regular-webfont.eot');
    src: url('./RobotoRegular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./RobotoRegular/Roboto-Regular-webfont.woff') format('woff'),
         url('./RobotoRegular/Roboto-Regular-webfont.ttf') format('truetype'),
         url('./RobotoRegular/Roboto-Regular-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoBold';
    src: url('./RobotoBold/Roboto-Bold-webfont.eot');
    src: url('./RobotoBold/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./RobotoBold/Roboto-Bold-webfont.woff') format('woff'),
         url('./RobotoBold/Roboto-Bold-webfont.ttf') format('truetype'),
         url('./RobotoBold/Roboto-Bold-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoItalic';
    src: url('./RobotoItalic/Roboto-Italic-webfont.eot');
    src: url('./RobotoItalic/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./RobotoItalic/Roboto-Italic-webfont.woff') format('woff'),
         url('./RobotoItalic/Roboto-Italic-webfont.ttf') format('truetype'),
         url('./RobotoItalic/Roboto-Italic-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}