<div class="component-wrapper content_part" [ngClass] = "{'_visible': isVisible}" id="courses">

  <h4 style="color: #919191" class="block_title">
    <a href=""><i style="color: #919191; margin: 0 .5em 0 0" class="fa fa-book"></i>My Courses</a>
  </h4>
  <div id="courses_inner">

    <ul id="courses_chain">
      <li><a href=""><span class="course_num bold">01</span><i class="fa fa-circle dot"></i><div style="max-width: 125px;width: 125px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;float: right;"><span title="Тестовый курс" class="course_name italic">Тестовый курс</span></div></a></li>
      <li><a href=""><span class="course_num bold">02</span><i class="fa fa-circle dot"></i><div style="max-width: 125px;width: 125px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;float: right;"><span title="What is PA-DSS" class="course_name italic">What is PA-DSS</span></div></a></li>
      <li><a href=""><span class="course_num bold">03</span><i class="fa fa-circle dot"></i><div style="max-width: 125px;width: 125px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;float: right;"><span title="Основы процессинга_V2 (внутренняя)" class="course_name italic">Основы процессинга_V2 (внутренняя)</span></div></a></li>
      <li><a href=""><span class="course_num bold">04</span><i class="fa fa-circle dot"></i><div style="max-width: 125px;width: 125px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;float: right;"><span title="SmartVista - базовый курс (внутренний)_V2" class="course_name italic">SmartVista - базовый курс (внутренний)_V2</span></div></a></li>
      <li><a href=""><span class="course_num bold">05</span><i class="fa fa-circle dot"></i><div style="max-width: 125px;width: 125px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;float: right;"><span title="SmartVista - Basic training (internal)" class="course_name italic">SmartVista - Basic training (internal)</span></div></a></li>
      <li><a href=""><span class="course_num bold">06</span><i class="fa fa-circle dot"></i><div style="max-width: 125px;width: 125px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;float: right;"><span title="Основы SmartVista (внутренний)" class="course_name italic">Основы SmartVista (внутренний)</span></div></a></li>
      <li><a href=""><span class="course_num bold">07</span><i class="fa fa-circle dot"></i><div style="max-width: 125px;width: 125px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;float: right;"><span title="Working with LN Sales" class="course_name italic">Working with LN Sales</span></div></a></li>
      <li><a href=""><span class="course_num bold">08</span><i class="fa fa-circle dot"></i><div style="max-width: 125px;width: 125px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;float: right;"><span title="Test course" class="course_name italic">Test course</span></div></a></li>
    </ul>

  </div>
</div>
