<form class="login-wrapper">

  <h2 class="login">Please, login with your credentials</h2>

  <div class="login__input">
    <div>Login:</div>
    <kendo-maskedtextbox [(value)]="loginInput"></kendo-maskedtextbox>
  </div>

  <div class="login__input">
    <div>Password:</div>
    <kendo-maskedtextbox [(value)]="passwordInput"></kendo-maskedtextbox>
  </div>

  <button kendoButton type="submit" (click)="onButtonClick(loginInput, passwordInput, login, password)" [primary]="true" [routerLink]="['/home']">LOGIN</button>
</form>
