<section class="row body">
  <div class="grid_12">
    <div class="page_header">
      <h2>Authorization</h2>
    </div>
  </div>
  <div class="grid_12">
    <div class="container">
      <div id="auth_form"></div>
      <div class="login-wrapper">
        <div class="login">
          <label for="login" class="login__label">Login</label>
          <input [(ngModel)]="user.login" id="login"
                 type="login" class="validate login__input">
          <label for="password" class="login__label">Password</label>
          <input [(ngModel)]="user.password" id="password"
                 type="password" class="validate login__input">
        </div>
          <span>{{errorMsg}}</span>
          <button (click)="login()"
                  class="login__button"
                  type="submit" name="action">Login</button>
      </div>
      </div>
    </div>
</section>
