<nav id="main_nav">
  <ul>
    <li class="menu_ref_item">
      <a [routerLink]="['/home']">
        HOME
      </a>
    </li>
    <li class="menu_ref_item">
      <a>VIEW</a>
    </li>
    <li class="menu_ref_item">
      <a>QUESTIONS BANK</a>
    </li>
    <li class="menu_ref_item">
      <a>ROLES</a>
    </li>
    <li class="menu_ref_item">
      <a>COURSES</a>
    </li>

    <li class="menu_ref_item">
      <a>DEPARTMENTS</a>
    </li>

    <li class="menu_ref_item">
      <a [routerLink]="['/materials']">
        MATERIALS
      </a>
    </li>

    <li class="menu_ref_item">
      <a>change theme</a>
    </li>

    <li class="menu_ref_item">
      <a [routerLink]="['/login']">
        LOG OUT
      </a>
    </li>

  </ul>

</nav>

