<section class="row header">
  <nav id="main_nav">
  <ul>
    <li class="menu_ref_item">
      <a [routerLink]="['/home']" class="nav">
        HOME
      </a>
    </li>
    <li class="menu_ref_item">
      <a href="" class="nav">VIEW</a>
    </li>
    <li class="menu_ref_item">
      <a href="" class="nav">QUESTIONS</a>
    </li>
    <li class="menu_ref_item">
      <a href="" class="nav">ROLES</a>
    </li>
    <li class="menu_ref_item">
      <a href="" class="nav">COURSES</a>
    </li>

    <li class="menu_ref_item">
      <a href="" class="nav">DEPARTMENTS</a>
    </li>

    <li class="menu_ref_item">
      <a [routerLink]="['/materials']" class="nav">
        MATERIALS
      </a>
    </li>

    <li class="menu_ref_item">
      <a href="" class="nav">change theme</a>
    </li>

    <li class="menu_ref_item">
      <a [routerLink]="['/login']" class="nav">
        LOG OUT
      </a>
    </li>

  </ul>

</nav>
</section>

