<style>
  .k-calendar {
    margin-left: auto;
  }
  .k-calendar table {
    width: 350px;
  }
</style>

<nav-root></nav-root>

<app-roles-setter></app-roles-setter>
<section class="row body">
  <div class="home">
    <div class="home__block _left-col">
      <app-charts-component></app-charts-component>

      <app-messages-component></app-messages-component>
    </div>

    <div class="home__block _right-col">

      <app-range-component></app-range-component>

      <app-calendar-component></app-calendar-component>

    </div>
  </div>
</section>



